# Imports

In [12]:
import os
import sys
import glob

import pandas as pd
import tweepy

# Add source folder
sys.path.append(os.path.abspath(".."))

# Load constants
from src.constants import DATA_PATH, TWITTER_AUTH

# Twitter API Setup

In [4]:
# Set up twitter API access
auth = tweepy.OAuthHandler(TWITTER_AUTH["API_KEY"], TWITTER_AUTH["API_SECRET"])
auth.set_access_token(TWITTER_AUTH["ACCESS_TOKEN"], TWITTER_AUTH["ACCESS_TOKEN_SECRET"])

api = tweepy.API(auth)

# Load crowdbreaks data

In [9]:
TWITTER_PATH = os.path.join(DATA_PATH, "srf_data", "Twitter")
geo_tweets, place_tweets = glob.glob(TWITTER_PATH + "/*.csv")

In [21]:
geo_tweets, place_tweets = glob.glob(TWITTER_PATH + "/*.csv")

In [24]:
pd.read_csv(geo_tweets)

       created_at                   id   longitude   latitude
0      2015-04-19   589801611528110080   -2.236668  53.489791
1      2020-02-28  1233180166475538432   12.361999  55.733902
2      2020-02-28  1233180649617362944  100.655078  13.862001
3      2020-02-28  1233181786567372800 -121.570533  37.007482
4      2020-02-28  1233182725793775616   -0.124314  51.530085
...           ...                  ...         ...        ...
97194  2020-02-04  1224828739952902144  116.433105  40.151588
97195  2020-02-04  1224831036632203265  103.000000  35.000000
97196  2020-02-04  1224834272285978625 -112.047290  33.068250
97197  2020-02-04  1224835664044150786  116.520996  40.017098
97198  2020-02-04  1224835662878167040  116.520996  40.017098

[97199 rows x 4 columns]

# Rehydrate

# Test

In [3]:
sample_tweet = api.get_status(1233180166475538432)

In [29]:
sample_tweet.geo

{'type': 'Point', 'coordinates': [55.7339021, 12.3619992]}